@page
@model OA.Person.IndexModel
@{
    ViewData["Title"] = "人员管理";
    Layout = "~/Pages/_Layout.cshtml";
}
<div class="list-wall">
    <div class="layui-form list-search">
        <div class="layui-inline">
            <input class="layui-input layui-input-sm" placeholder="根据关键字搜索" name="id" id="demoReload" autocomplete="off">
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <select name="modules">
                    <option value="0">在职</option>
                    <option value="1">离职</option>
                </select>
            </div>
        </div>
        <button class="layui-btn layui-btn-sm" data-type="reload">搜索</button>
        <a href="/oa/person/modify/" class="layui-btn layui-btn-sm" data-type="reload">新增</a>
    </div>
    <table class="layui-hide" id="test"></table>
</div>
@section Scripts{
    <script>
        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#test'
                , url: '/data/list.json'
                , cols: [[
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'id', width: 80, title: 'ID', sort: true, fixed: 'left' }
                    , { field: 'username', width: 100, title: '用户名' }
                    , { field: 'city', width: 80, title: '姓名', sort: true }
                    , { field: 'sex', title: '性别' }
                    , { field: 'sign', width: 219, title: '所属公司' }
                    , { field: 'experience', width: 120, title: '所属部门', sort: true }
                    , { field: 'score', width: 120, title: '职称', sort: true }
                    , { field: 'wealth', width: 120, title: '联系电话', sort: true, fixed: 'right' }
                    , { width: 120, title: '操作', fixed: 'right', toolbar: '#tool' }
                ]]
                , page: true
            });
        });
    </script>
    <script type="text/html" id="tool">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">离职</a>
    </script>
}

