@page
@model OA.Person.IndexModel
@{
    ViewData["Title"] = "人员管理";
    Layout = "~/Pages/_Layout.cshtml";
}
<div class="list-wall">
    <div class="layui-form list-search">
        <div class="layui-inline">
            <input class="layui-input layui-input-sm" placeholder="根据关键字搜索" id="key" autocomplete="off">
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <select id="poststatus">
                    <option value="1">在职</option>
                    <option value="0">离职</option>
                </select>
            </div>
        </div>
        <button class="layui-btn layui-btn-sm" data-type="reload">搜索</button>
        <a href="/oa/person/modify/" class="layui-btn layui-btn-sm" data-type="reload">新增</a>
    </div>
    <table class="layui-hide" id="tablist" lay-filter="tool"></table>
</div>
@section Scripts{
    <script>
        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#tablist'
                , url: '/api/person/getpages'
                , cols: [[
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'loginName', width: 120, title: '用户名' }
                    , { field: 'trueName', width: 120, title: '姓名', sort: true }
                    , { field: 'sex', width: 100, title: '性别' }
                    , { field: 'companyName', title: '所属公司' }
                    , { field: 'departmentName', width: 180, title: '所属部门' }
                    , { field: 'mobile', width: 180, title: '联系电话' }
                    , { field: 'email', width: 220, title: '邮箱' }
                    , { width: 160, title: '操作', fixed: 'right', toolbar: '#tool' }
                ]]
                , page: true,
                limit:20,
                id: 'tables'
            });
            //监听工具条
            table.on('tool(tool)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    window.location.href = '/oa/person/modify/?guid=' + data.guid;
                } else if (obj.event === "postedit") {
                    os.toastr('ok','稍后实现功能哈~~');
                }
            });
            var active = {
                reload: function () {                    
                    table.reload('tables', {
                        page: {
                            curr: 1
                        }
                        , where: {
                            key: $("#key").val(),
                            poststatus: $("#poststatus").val() == 1 ? true : false
                        }
                    });
                }
            };

            $('.list-search button').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
    </script>
    <script type="text/html" id="tool">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="postedit">离职</a>
    </script>
}

